[user]
	name = Jay Bisa
	email = jay.bisa@gmail.com
[alias]
	# checkout an existing branch (provide a branch name after this)
	co = checkout

	# checkout a new branch (provide a branch name after this)
	cob = checkout -b

	# open this config file
	ec = config --global -e

	# commit changes to index with a message (provide a commit message after this)
	cm = !git commit -m
	
	# see existing branches
	br = branch

	# check status of files/changes in your branch
	st = status -s

	# unstage a file from the index (provide a filename after this)
	rmc = rm --cached

	# see diff between working area and index
	d = diff

	# see diff between index and last commit 
	dc = diff --cached
[pager]
	branch = false
[core]
	editor = vim
[push]
	# infer "origin nameOfBranch" when pushing to a new or existing branch
	default = current
