#-----------------------------------------------------------
# Jay Bisa <jay.bisa@gmail.com>
# Last Updated: 2.24.2019
#
# ~/.gitconfig Global git configs and aliases
#-----------------------------------------------------------

[user]
	name = Jay Bisa
	email = jay.bisa@gmail.com
[alias]
	co = checkout
    	ec = config --global -e
    	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    	cob = checkout -b
    	cm = !git add -A && git commit -m
    	save = !git add -A && git commit -m 'SAVEPOINT'
    	wip = !git add -u && git commit -m "WIP" 
	undo = reset HEAD~1 --mixed
    	amend = commit -a --amend
    	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    	bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
	br = branch
	st = status -s
	ci = commit
	last = log -1 HEAD
	rba = "for-each-ref --format='%(color:cyan)%(authordate:format:%m/%d/%Y %I:%M %p)    %(align:25,left)%(color:yellow)%(authorname)%(end) %(color:reset)%(refname:strip=3)' --sort=authordate refs/remotes"
